/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.anchor:target{
    padding-top: 60px;
    margin-top: -60px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}